#body {

}

#title {
    width: 80vw;
    height: 5vh;
    margin: 20vh auto 0.5vh auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    line-height: 5vh;
}

#canvas {
    display: block;
    width: 200px;
    margin: 2.5vh auto 0 auto;
    border: 2px solid black;
}

#prediction {
    display: block;
    width: 200px;
    height: 2.5vh;
    margin: 0.5vh auto 0 auto;
    line-height: 2.5vh;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

#prediction:not(:empty) {

}

#predict {
    display: block;
    box-sizing: content-box;
    width: 100px;
    height: 30px;
    margin: 0.5vh auto 0 auto;
    padding: 0;
    border: 2px solid black;
}
